<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>apiKey</key>
	<string>$(API_KEY)</string>
	<key>clientID</key>
	<string>$(CLIENT_ID)</string>
	<key>clientSecret</key>
	<string>$(CLIENT_SECRET)</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This App needs your current location to search for Venues near by</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This App needs your current location to search for Venues near by</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This App needs your current location to search for Venues near by</string>
</dict>
</plist>
